// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}



// Site title
.site-mobile-title a {
  // placeholder
}

.site-desktop-title a {
  font-weight: bold;
}



// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}


.mobile-menu,
.mobile-off-canvas-menu {

  // submenu arrow
  .is-accordion-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }

  // current page
  .current_page_item > a {
    font-weight: bold;
  }
}



// Tablet and desktop menu
.desktop-menu {

  // submenu arrow
  li.is-dropdown-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// Start added by Wayne
.site-navigation.top-bar {
  background-color: #121212;
  padding: 0rem;
}

.top-bar-left:hover {
  background-color: #2a2a2a;
}

.top-bar-title {
  padding: 0.8rem;
}

#menu-main {
  background-color: #121212;
}

.top-bar-title a{
  color: #B9B9B9;
}

.top-bar-title a:hover {
  color: #B9B9B9;
  text-decoration: none;
}

.top-bar-right .desktop-menu li:not(:last-child) {
  border-right: 1px solid #4e4e4e;
}

.top-bar-right .menu li:hover {
  background-color: #2a2a2a;
}

.menu li a {
  color: #B9B9B9;
  padding: 0.8rem;
  line-height: inherit;
  font-weight: bold;
}

.menu li a:hover {
  text-decoration: none;
}


// When there's only one menu bar
.title-bar {
  background-color: #121212;
}

.title-bar-title a {
  color: #B9B9B9;
}

.title-bar-title a:hover {
  color: #B9B9B9;
  text-decoration: none;
}

.menu-icon::after {
  background-color: #fefefe;
  box-shadow: 0 7px #fefefe, 0 14px #fefefe;
}

.menu-icon:hover::after {
  background-color: #cacaca;
  box-shadow: 0 7px #cacaca, 0 14px #cacaca;
}

.top-bar-right ul {
  background-color: #121212;
}

// End added by Wayne


// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}